Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

docs: document page generation pipeline design
  docs/page-generation-pipeline.md
Due: none

feat(skills): port research skill from fund repo
  .agents/skills/research/SKILL.md
  .claude/commands/research.md
Due: none

feat(docs): update page generation pipeline documentation with template synchronization details
  docs/page-generation-pipeline.md
Due: none

docs: enhance page generation pipeline documentation with repository details and synchronization processes
  docs/page-generation-pipeline.md
Due: none

docs: update page generation pipeline documentation with enhanced content specification and implementation roadmap
  docs/page-generation-pipeline.md
Due: none

docs: update page generation pipeline documentation with automated verification suite details
  docs/page-generation-pipeline.md
Due: none

docs: fix formatting in page generation pipeline documentation for agent rules and deterministic guardrails
  docs/page-generation-pipeline.md
Due: none

feat(pipeline): implement portfolio page builder and template synchronization pipeline
  .agents/skills/new-page/SKILL.md
  .claude/commands/new-page.md
  AGENTS.md
  Makefile
  assets/img/p1/index.md
  assets/img/p2/index.md
  assets/img/p3/index.md
  assets/img/p4/index.md
  js/hover-preview.js
  js/preloader.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  package.json
  scripts/build-images.mjs
  scripts/build-page.mjs
  scripts/generate-thumbhashes.mjs
  scripts/sync-pages.mjs
  scripts/templates/portfolio-shell.html
  scripts/validate-pages.mjs
  tests/js/acceptance/article-banner-consistency.acceptance.test.js
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
  tests/js/acceptance/project-scripts-consistency.acceptance.test.js
  tests/js/acceptance/thumbhash-consistency.acceptance.test.js
  tests/js/page-builder.test.js
Due: eslint, jest-related

fix(pipeline): preserve blockquote paragraph wrapping and br linebreaks in page builder
  assets/img/p4/index.md
  p4/index.html
  scripts/build-page.mjs
Due: eslint, jest-related

fix(p1): correct blockquote placement and add element sequence parity verification
  assets/img/p1/index.md
  p1/index.html
  scripts/validate-pages.mjs
  tests/js/page-builder.test.js
Due: eslint, jest-related

fix(pipeline): fix lazy blockquote continuation, clean markdown extraction, and add full-text parity test
  .markdownlint.json
  Makefile
  assets/img/p2/index.md
  assets/img/p3/index.md
  assets/img/p4/index.md
  p2/index.html
  p3/index.html
  p4/index.html
  scripts/build-page.mjs
  scripts/extract-page-markdown.mjs
  tests/js/page-builder.test.js
Due: eslint, jest-related

refactor(pipeline): make ogImage optional and inherit base site keywords automatically
  .agents/skills/new-page/SKILL.md
  .claude/commands/new-page.md
  assets/img/p1/index.md
  assets/img/p2/index.md
  assets/img/p3/index.md
  assets/img/p4/index.md
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  scripts/build-page.mjs
  scripts/extract-page-markdown.mjs
Due: eslint, jest-related

refactor(pipeline): improve code readability by formatting multiline expressions
  scripts/build-page.mjs
  scripts/extract-page-markdown.mjs
  scripts/validate-pages.mjs
Due: eslint, jest-related

fix(prettier): update file extensions to include mjs and cjs for better compatibility
  .pre-commit-config.yaml
Due: none

feat(sitemap): add syncSitemap function and update sitemap.xml with new page
  scripts/build-page.mjs
  scripts/sync-pages.mjs
  sitemap.xml
Due: eslint, jest-related

test(pipeline): harden validation, sitemap verification, and dynamic test discovery
  scripts/build-page.mjs
  scripts/validate-pages.mjs
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
  tests/js/acceptance/mobile-overflow.acceptance.test.js
  tests/js/preloader.test.js
Due: eslint, jest-related

refactor(pipeline): automatically synchronize all existing page docks on page build
  scripts/build-page.mjs
Due: eslint, jest-related

test(pipeline): enhance validation by checking navigation updates and sitemap inclusion for new pages
  docs/page-generation-pipeline.md
  tests/js/page-builder.test.js
Due: eslint, jest-related

feat(p5): add self portrait gallery and photo credit component
  assets/img/p5/index.md
  css/article.css
  css/style.css
  index.html
  js/preloader.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  p5/index.html
  scripts/build-page.mjs
  sitemap.xml
  tests/js/acceptance/photo-credit.acceptance.test.js
  tests/js/page-builder.test.js
Due: eslint, stylelint, jest-related

assets(p5): add gallery photos batch 1
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022-1200.avif
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022-1200.webp
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022-768.avif
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022-768.webp
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022.JPG
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022.avif
  assets/img/p5/849BDEFE-8868-48A8-B31D-ADB58F0161022.webp
  assets/img/p5/DSCF5407-2-1200.avif
  assets/img/p5/DSCF5407-2-1200.webp
  assets/img/p5/DSCF5407-2-768.avif
  assets/img/p5/DSCF5407-2-768.webp
  assets/img/p5/DSCF5407-2.avif
  assets/img/p5/DSCF5407-2.jpg
  assets/img/p5/DSCF5407-2.webp
  assets/img/p5/DSCF6274-1200.avif
  assets/img/p5/DSCF6274-1200.webp
  assets/img/p5/DSCF6274-768.avif
  assets/img/p5/DSCF6274-768.webp
  assets/img/p5/DSCF6274.JPG
  assets/img/p5/DSCF6274.avif
  assets/img/p5/DSCF6274.webp
Due: none

assets(p5): add gallery photos batch 2
  assets/img/p5/DSCF0525-1200.avif
  assets/img/p5/DSCF0525-1200.webp
  assets/img/p5/DSCF0525-768.avif
  assets/img/p5/DSCF0525-768.webp
  assets/img/p5/DSCF0525.avif
  assets/img/p5/DSCF0525.jpg
  assets/img/p5/DSCF0525.webp
  assets/img/p5/DSCF8149-7-1200.avif
  assets/img/p5/DSCF8149-7-1200.webp
  assets/img/p5/DSCF8149-7-768.avif
  assets/img/p5/DSCF8149-7-768.webp
  assets/img/p5/DSCF8149-7.JPG
  assets/img/p5/DSCF8149-7.avif
  assets/img/p5/DSCF8149-7.webp
  assets/img/p5/DSCF9159-1200.avif
  assets/img/p5/DSCF9159-1200.webp
  assets/img/p5/DSCF9159-768.avif
  assets/img/p5/DSCF9159-768.webp
  assets/img/p5/DSCF9159.avif
  assets/img/p5/DSCF9159.jpg
  assets/img/p5/DSCF9159.webp
Due: none

assets(p5): add gallery photos batch 3
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-1200.avif
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-1200.webp
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-768.avif
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-768.webp
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA.JPG
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA.avif
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA.webp
  assets/img/p5/DSCF1557-3-1200.avif
  assets/img/p5/DSCF1557-3-1200.webp
  assets/img/p5/DSCF1557-3-768.avif
  assets/img/p5/DSCF1557-3-768.webp
  assets/img/p5/DSCF1557-3.JPG
  assets/img/p5/DSCF1557-3.avif
  assets/img/p5/DSCF1557-3.webp
  assets/img/p5/DSCF8059-1200.avif
  assets/img/p5/DSCF8059-1200.webp
  assets/img/p5/DSCF8059-768.avif
  assets/img/p5/DSCF8059-768.webp
  assets/img/p5/DSCF8059.JPG
  assets/img/p5/DSCF8059.avif
  assets/img/p5/DSCF8059.webp
  assets/img/p5/DSCF9004-3-1200.avif
  assets/img/p5/DSCF9004-3-1200.webp
  assets/img/p5/DSCF9004-3-768.avif
  assets/img/p5/DSCF9004-3-768.webp
  assets/img/p5/DSCF9004-3.avif
  assets/img/p5/DSCF9004-3.jpg
  assets/img/p5/DSCF9004-3.webp
Due: none

assets(p5): add gallery photos batch 4
  assets/img/p5/2025-05-11-0020-1200.avif
  assets/img/p5/2025-05-11-0020-1200.webp
  assets/img/p5/2025-05-11-0020-768.avif
  assets/img/p5/2025-05-11-0020-768.webp
  assets/img/p5/2025-05-11-0020.JPG
  assets/img/p5/2025-05-11-0020.avif
  assets/img/p5/2025-05-11-0020.webp
  assets/img/p5/DSCF8231-1200.avif
  assets/img/p5/DSCF8231-1200.webp
  assets/img/p5/DSCF8231-768.avif
  assets/img/p5/DSCF8231-768.webp
  assets/img/p5/DSCF8231.JPG
  assets/img/p5/DSCF8231.avif
  assets/img/p5/DSCF8231.webp
Due: none

perf(preloader): add round-robin interleaved preloading and automate asset sync in pipeline
  js/preloader.js
  scripts/sync-pages.mjs
  tests/js/page-builder.test.js
  tests/js/preloader.test.js
Due: eslint, jest-related

chore(images): replaced a p5 image
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-1200.avif
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-1200.webp
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-768.avif
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA-768.webp
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA.JPG
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA.avif
  assets/img/p5/B82B02AB-6E38-440D-9AEA-2407681FD7BA.webp
  assets/img/p5/IMG760-1200.avif
  assets/img/p5/IMG760-1200.webp
  assets/img/p5/IMG760-768.avif
  assets/img/p5/IMG760-768.webp
  assets/img/p5/IMG760.avif
  assets/img/p5/IMG760.jpg
  assets/img/p5/IMG760.webp
  assets/img/p5/index.md
  js/preloader.js
  p5/index.html
Due: eslint, jest-related

test(coverage): enhance asset preloading tests with edge cases
  tests/js/preloader.test.js
Due: eslint, jest-related

ci(make): wire full test suite and coverage ratchet into precommit targets for CI parity
  Makefile
Due: none

docs(image-loading): add comprehensive research on image loading performance optimization
  docs/image-loading-performance-research.md
Due: none

perf(hover-preview): load 768w responsive thumbnails instead of full jpegs
  js/hover-preview.js
  tests/js/hover-preview.test.js
Due: eslint, jest-related

perf(preloader): preload responsive avif image variants
  js/preloader.js
  tests/js/preloader.test.js
Due: eslint, jest-related

perf(images): tune sharp avif and webp encoder settings
  scripts/build-images.mjs
Due: eslint, jest-related

perf(gallery): add lcp hero preload, fetchpriority, and drop redundant thumbhash scripts
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  p5/index.html
  scripts/build-page.mjs
  scripts/sync-pages.mjs
  scripts/templates/portfolio-shell.html
Due: eslint, jest-related

perf(sw): add persistent image cache tier across deploys
  sw.js
  tests/js/sw.test.js
Due: eslint, jest-related

perf(css): add content-visibility auto to offscreen gallery images
  css/style.css
Due: stylelint

fix(nav): enable instant light click and trackpad tap on portfolio links
  css/header.css
  css/main_style.css
  tests/js/acceptance/portfolio-link-tap.acceptance.test.js
Due: eslint, stylelint, jest-related

perf(spacing): introduce --gallery-block-gap variable for consistent image and block spacing
  css/article.css
  css/style.css
  tests/js/acceptance/article-footer-consistency.acceptance.test.js
  tests/js/acceptance/block-spacing.acceptance.test.js
  tests/js/acceptance/photo-credit.acceptance.test.js
Due: eslint, stylelint, jest-related

fix(content): remove redundant horizontal rules from index files
  assets/img/p3/index.md
  p3/index.html
Due: none

style(gallery): update --gallery-block-gap to 10px with uniform margin collapsing
  css/article.css
  css/style.css
  tests/js/acceptance/article-footer-consistency.acceptance.test.js
  tests/js/acceptance/block-spacing.acceptance.test.js
Due: eslint, stylelint, jest-related

docs(agents): add guidance for centralized gallery vertical spacing using --gallery-block-gap
  AGENTS.md
Due: none

fix(scroll-reveal): resolve Safari hero image preload race condition
  js/scroll-reveal.js
  tests/js/scroll-reveal.test.js
Due: eslint, jest-related

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

