Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

feat(report): add SVG visualization generators for waveform, colorimetry, and transition analysis
  .agents/skills/sequence/scripts/inspect_gallery.mjs
  assets/img/p4/sequence-colorimetry.svg
  assets/img/p4/sequence-report.md
  assets/img/p4/sequence-transitions.svg
  assets/img/p4/sequence-waveform.svg
  assets/img/p5/sequence-colorimetry.svg
  assets/img/p5/sequence-report.md
  assets/img/p5/sequence-transitions.svg
  assets/img/p5/sequence-waveform.svg
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(report): refine SVG visualization typography, colors, and stroke styling for academic publication standards
  .agents/skills/sequence/scripts/inspect_gallery.mjs
  assets/img/p4/sequence-colorimetry.svg
  assets/img/p4/sequence-transitions.svg
  assets/img/p4/sequence-waveform.svg
  assets/img/p5/sequence-colorimetry.svg
  assets/img/p5/sequence-transitions.svg
  assets/img/p5/sequence-waveform.svg
Due: eslint, jest-related

docs(sequence): add IEEE/Nature publication standards for SVG graphics and update test validation
  .agents/skills/sequence/SKILL.md
  .claude/commands/sequence.md
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

refactor(sequence): modularize gallery inspection into metrics, parser, charts, and report submodules
  .agents/skills/sequence/scripts/charts.mjs
  .agents/skills/sequence/scripts/inspect_gallery.mjs
  .agents/skills/sequence/scripts/metrics.mjs
  .agents/skills/sequence/scripts/parser.mjs
  .agents/skills/sequence/scripts/report.mjs
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(report): add visual sequence report and commentary for P3 collection
  assets/img/p3/commentary.json
  assets/img/p3/sequence-colorimetry.svg
  assets/img/p3/sequence-report.md
  assets/img/p3/sequence-transitions.svg
  assets/img/p3/sequence-waveform.svg
Due: none

feat(report): update p3 sequence visualizations and refine colorimetry data
  .agents/skills/sequence/scripts/report.mjs
  assets/img/p3/index.md
  assets/img/p3/sequence-colorimetry.svg
  assets/img/p3/sequence-report.md
  assets/img/p3/sequence-transitions.svg
  assets/img/p3/sequence-waveform.svg
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(preloader): remove unused image asset from preloader
  js/preloader.js
  p3/index.html
Due: eslint, jest-related

ci: ignore binary image assets in test workflows
  .github/workflows/ci.yml
Due: none

feat(images): automate EXIF GPS and serial number sanitization in page build
  assets/img/desktop_background.jpg
  assets/img/mobile_background.jpg
  scripts/build-images.mjs
  scripts/build-page.mjs
  tests/js/page-builder.test.js
Due: eslint, jest-related

feat(metrics, parser, report): enhance respiratory rhythm analysis with caesura awareness and update pacing impact metrics
  .agents/skills/sequence/scripts/inspect_gallery.mjs
  .agents/skills/sequence/scripts/metrics.mjs
  .agents/skills/sequence/scripts/parser.mjs
  .agents/skills/sequence/scripts/report.mjs
Due: eslint, jest-related

feat(charts): enhance colorimetry SVG generation with improved metric labels and adaptive formatting
  .agents/skills/sequence/scripts/charts.mjs
Due: eslint, jest-related

feat(charts, report): update metric labels for clarity and enhance respiratory analysis with quotes
  .agents/skills/sequence/scripts/charts.mjs
  .agents/skills/sequence/scripts/report.mjs
Due: eslint, jest-related

chore(images): sanitize metadata and build responsive tiers for p3
  assets/img/p3/DSCF3435-1200.avif
  assets/img/p3/DSCF3435-1200.webp
  assets/img/p3/DSCF3435-768.avif
  assets/img/p3/DSCF3435-768.webp
  assets/img/p3/DSCF3435.JPG
  assets/img/p3/DSCF3435.avif
  assets/img/p3/DSCF3435.webp
  assets/img/p3/DSCF8671-1200.avif
  assets/img/p3/DSCF8671-1200.webp
  assets/img/p3/DSCF8671-768.avif
  assets/img/p3/DSCF8671-768.webp
  assets/img/p3/DSCF8671.JPG
  assets/img/p3/DSCF8671.avif
  assets/img/p3/DSCF8671.webp
  assets/img/p3/commentary.json
  assets/img/p3/index.md
  assets/img/p3/sequence-colorimetry.svg
  assets/img/p3/sequence-report.md
  assets/img/p3/sequence-transitions.svg
  assets/img/p3/sequence-waveform.svg
  js/preloader.js
  p3/index.html
Due: eslint, jest-related

feat(report): update unsequenced candidates section to reflect current candidates and remove outdated entries
  assets/img/p3/sequence-report.md
Due: none

feat(images): add an image files in various formats and update index
  assets/img/p2/DSCF7452-1200.avif
  assets/img/p2/DSCF7452-1200.webp
  assets/img/p2/DSCF7452-768.avif
  assets/img/p2/DSCF7452-768.webp
  assets/img/p2/DSCF7452.JPG
  assets/img/p2/DSCF7452.avif
  assets/img/p2/DSCF7452.webp
  assets/img/p2/index.md
  js/preloader.js
  p2/index.html
Due: eslint, jest-related

feat(sequence): enforce mandatory report generation and clarify execution steps
  .agents/skills/sequence/SKILL.md
  .claude/commands/sequence.md
Due: none

feat(images): add p2 sequence assets with detailed commentary and visual analysis
  assets/img/p2/commentary.json
  assets/img/p2/sequence-colorimetry.svg
  assets/img/p2/sequence-report.md
  assets/img/p2/sequence-transitions.svg
  assets/img/p2/sequence-waveform.svg
Due: none

feat(images): enhance p2 sequence with transactional alienation act and refine colorimetry visualization
  assets/img/p2/commentary.json
  assets/img/p2/sequence-colorimetry.svg
  assets/img/p2/sequence-report.md
  assets/img/p2/sequence-transitions.svg
  assets/img/p2/sequence-waveform.svg
Due: none

feat(sequence): enhance gallery path resolution to support pN pattern and improve pageId handling
  .agents/skills/sequence/scripts/parser.mjs
Due: eslint, jest-related

feat(p2): resequence narrative arc and refine colorimetric analysis
  assets/img/p2/commentary.json
  assets/img/p2/index.md
  assets/img/p2/sequence-colorimetry.svg
  assets/img/p2/sequence-report.md
  assets/img/p2/sequence-transitions.svg
  assets/img/p2/sequence-waveform.svg
  js/preloader.js
  p2/index.html
Due: eslint, jest-related

feat(markdown): simplify markdownlint configuration by removing unnecessary rules
  .markdownlint.json
Due: none

feat(sequence): auto-generate root-level README for zero-tap mobile curation reports
  .agents/skills/sequence/scripts/report.mjs
  .markdownlint.json
  assets/img/p1/sequence-colorimetry.svg
  assets/img/p1/sequence-report.md
  assets/img/p1/sequence-transitions.svg
  assets/img/p1/sequence-waveform.svg
  assets/img/p4/sequence-colorimetry.svg
  assets/img/p5/sequence-colorimetry.svg
  p1/README.md
  p2/README.md
  p3/README.md
  p4/README.md
  p5/README.md
Due: eslint, jest-related

feat(p1): add detailed commentary metadata and enhance sequence report
  assets/img/p1/commentary.json
  assets/img/p1/sequence-report.md
  p1/README.md
Due: none

feat(tests): add synchronization test for pN/README.md and sequence-report.md files
  .agents/skills/sequence/scripts/report.mjs
  .markdownlint.json
  Makefile
  assets/img/p1/sequence-report.md
  assets/img/p2/sequence-report.md
  assets/img/p3/sequence-report.md
  assets/img/p4/sequence-report.md
  assets/img/p5/sequence-report.md
  p1/README.md
  p2/README.md
  p3/README.md
  p4/README.md
  p5/README.md
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(sequence): implement dynamic transition resolution and update related commentary
  .agents/skills/sequence/scripts/report.mjs
  assets/img/p1/sequence-report.md
  assets/img/p3/commentary.json
  assets/img/p3/sequence-report.md
  assets/img/p4/sequence-report.md
  assets/img/p5/sequence-report.md
  p1/README.md
  p3/README.md
  p4/README.md
  p5/README.md
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(makefile): add 'gate' target for faster CI parity checks
  AGENTS.md
  Makefile
Due: none

feat(header): add safe area blur for mobile header and enhance theme color handling
  css/header.css
  docs/ios-safari-status-bar-blur-research.md
  js/mobile-dock.js
  tests/js/acceptance/mobile-dock-expand.acceptance.test.js
Due: eslint, stylelint, jest-related

feat(parser): downscale image for stats computation to improve performance feat(tests): optimize markdown report heading verification for efficiency
  .agents/skills/sequence/scripts/parser.mjs
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(report): update image embedding logic for visual reports and adjust test paths
  .agents/skills/sequence/scripts/report.mjs
  .prettierignore
  AGENTS.md
  tests/fixtures/sequence-scratch/.gitignore
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(sibling-repo-sync): enhance documentation for sibling repos and clarify tooling details
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
Due: none

fix(sibling-repo-sync): clarify documentation regarding CI commands and workflow details
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
Due: none

feat(research): add findings document for deterministic gaze vector estimation in sequence skill
  docs/gaze-vector-estimation-research.md
Due: none

feat(gaze-vector): add action items document for deterministic gaze vector estimation implementation
  docs/gaze-vector-action-items.md
Due: none

feat(sequence): add deterministic gaze vector and head pose estimation
  .agents/skills/sequence/models/MODELS.lock
  .agents/skills/sequence/scripts/gaze.mjs
  .gitignore
  Makefile
  docs/sequence-skill-architecture.md
  package-lock.json
  package.json
  tests/fixtures/gaze-synthetic-frontal.json
  tests/fixtures/gaze-synthetic-lookaway.json
  tests/fixtures/gaze-synthetic-yaw30.json
  tests/js/gaze.test.js
Due: eslint, jest-related

feat(sequence): add gaze.mjs for deterministic gaze vector and head pose estimation
  docs/sequence-skill-architecture.md
Due: none

fix(docs): update status and formatting in action items and architecture documents
  docs/gaze-vector-action-items.md
  docs/sequence-skill-architecture.md
Due: none

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

