Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

docs(agents): add guidance for verifying major-version tags in GitHub Actions workflows
  AGENTS.md
Due: none

feat(sibling-repo-sync): add documentation for propagating tooling improvements to sibling repositories
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
Due: none

fix(ship): update merge instructions to prefer squash merges and clarify branch deletion steps
  .agents/skills/ship/SKILL.md
  .claude/commands/ship.md
Due: none

docs(agents): clarify editing permissions for interactive coding agents and `.jules/` persona files
  AGENTS.md
Due: none

docs(agents): clarify guidelines for test comments and reasoning in diffs
  .jules/testpilot.md
  AGENTS.md
Due: none

feat(thinking-check): implement stream-of-consciousness gate and add pre-commit hook
  .jules/testpilot.md
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  scripts/check-thinking-comments.js
  tests/js/ambient/quantum_particles.test.js
  tests/js/check-thinking-comments.test.js
  tests/js/magnetic-nav.test.js
Due: eslint, jest-related

feat(tests): add tests for new thinking-out-loud comment patterns
  scripts/check-thinking-comments.js
  tests/js/check-thinking-comments.test.js
Due: eslint, jest-related

docs(agents): clarify user commit review process and handling of changes in chat sessions
  AGENTS.md
Due: none

docs(agents): update guidelines for handling concurrent agents and gate retries
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
  .jules/architect.md
  .jules/bolt.md
  .jules/janitor.md
  .jules/palette.md
  .jules/sentinel.md
  .jules/testpilot.md
  .jules/typist.md
  AGENTS.md
  scripts/gate-guard.js
  tests/js/gate-guard.test.js
Due: eslint, jest-related

feat(workflows): add GitHub Pages deployment workflow with cache versioning
  .github/workflows/pages.yml
  sw.js
Due: eslint, jest-related

feat(loader): streamline ambient and vendor asset loading logic
  js/ambient/loader.js
  js/loader/vendorLoader.js
  tests/js/ambient/loader.test.js
  tests/js/loader/vendorLoader.test.js
Due: eslint, jest-related

style(css): remove viewer.js library and update image hover cursor
  css/style.css
  css/viewer.min.css
  js/viewer.min.js
Due: eslint, stylelint, jest-related

feat(preloader): add support for p4 assets and update preload logic
  js/preloader.js
  tests/js/preloader.test.js
Due: eslint, jest-related

docs(design) add design action items and research documentation for site upgrade
  docs/design-action-items.md
  docs/design-research.md
Due: none

chore(vendor): remove Bootstrap and jQuery dependencies
  assets/vendor/bootstrap/css/bootstrap.min.css
  assets/vendor/bootstrap/js/bootstrap.min.js
  assets/vendor/jquery/jquery.min.js
  css/style.css
  docs/design-action-items.md
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: eslint, stylelint, jest-related

feat(layout): prevent horizontal overflow by hiding overflow-x on body and html
  css/style.css
Due: stylelint

feat(images): add optimization for homepage background images with AVIF/WebP formats
  assets/img/desktop_background.avif
  assets/img/desktop_background.jpg
  assets/img/desktop_background.webp
  assets/img/mobile_background.avif
  assets/img/mobile_background.jpg
  assets/img/mobile_background.webp
  css/main_style.css
  docs/design-action-items.md
  index.html
Due: stylelint

feat(design): remove strobe-flash image reveal from action items
  docs/design-action-items.md
Due: none

feat(loader): revise ambient asset loading logic for tiered page types
  docs/design-action-items.md
  js/ambient/loader.js
  tests/js/ambient/loader.test.js
Due: eslint, jest-related

feat(colors): update CSS custom properties for background, text, and accent colors
  css/style.css
Due: stylelint

feat(images): add width, height, and decoding attributes to gallery images for improved layout stability
  docs/design-action-items.md
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: none

feat(cleanup): remove hover-preview and mouse-parallax scripts, along with related configurations and tests
  css/main_style.css
  docs/design-action-items.md
  docs/js-typing-strategy.md
  index.html
  js/config.js
  js/hover-preview.js
  js/mouse-parallax.js
  js/types/globals.d.ts
  jsconfig.json
  scripts/check-thinking-comments.js
  tests/js/check-thinking-comments.test.js
  tests/js/config.test.js
  tests/js/hover-preview.test.js
  tests/js/mouse-parallax.test.js
Due: eslint, stylelint, jest-related

feat(colors): define CSS custom properties for color tokens and update styles across multiple CSS files
  css/base.css
  css/main_style.css
  css/style.css
  docs/design-action-items.md
Due: stylelint

feat(grain): add film-grain overlay with animation and integrate into project pages
  css/grain.css
  docs/design-action-items.md
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

feat(design): add status column to ranked summary for item tracking
  docs/design-action-items.md
Due: none

fix(pre-commit): adjust pytest entry to allow exit code 5 on pre-push
  .pre-commit-config.yaml
Due: none

fix(layout): adjust footer positioning and dimensions for larger screens
  css/main_style.css
Due: stylelint

fix(layout): remove redundant styles for #cont in footer
  css/main_style.css
Due: stylelint

fix(layout): enhance footer styling with gradient background and flex layout
  css/main_style.css
Due: stylelint

fix(style): ensure body has zero margin and add padding to content container for mobile articles
  css/style.css
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, stylelint, jest-related

fix(layout): update background colors and adjust opacity for better visibility
  css/main_style.css
  index.html
Due: stylelint

fix(layout): enhance footer interaction with hover effects and gradient background
  css/main_style.css
Due: stylelint

docs(skills): port tdd skill to ryusoh.github.io
  .agents/skills/tdd/SKILL.md
  .claude/commands/tdd.md
Due: none

fix(layout): adjust social icon sizes and refine focus styles
  css/main_style.css
Due: stylelint

fix(layout): update social icons structure and styles for mobile and desktop
  AGENTS.md
  css/main_style.css
Due: stylelint

fix(fonts): add Syne font for improved typography in headers
  css/base.css
  css/style.css
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

fix(layout): add top bar background with hover opacity transition
  css/main_style.css
  index.html
Due: stylelint

feat(mobile-dock): implement scroll-based dimming for header title on mobile
  css/header.css
  css/main_style.css
  js/mobile-dock.js
  tests/js/acceptance/mobile-dock-expand.acceptance.test.js
Due: eslint, stylelint, jest-related

fix(layout): update social icons for mobile and desktop, enhance headline display
  css/main_style.css
  index.html
Due: stylelint

feat(mobile-dock): implement click-to-expand functionality for mobile navigation
  css/header.css
  css/main_style.css
  index.html
  js/mobile-dock.js
  tests/js/acceptance/mobile-dock-expand.acceptance.test.js
Due: eslint, stylelint, jest-related

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

