Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

style: remove focus outlines and box-shadows from navigation links
  css/base.css
  css/style.css
Due: stylelint

style: increase navigation button hit areas and adjust positioning for mobile accessibility
  css/base.css
  css/style.css
Due: stylelint

style: disable tap highlight color on body elements
  css/base.css
  css/style.css
Due: stylelint

refactor: move navigation buttons outside main content and apply view transitions to improve persistence during page loads
  css/main_style.css
  css/style.css
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

feat: enable cursor view transitions and persist position across all same-origin navigation
  css/cursor.css
  js/page-transition.js
Due: eslint, stylelint, jest-related

feat: add global configuration file to toggle hover preview and mouse parallax features
  index.html
  js/config.js
  js/hover-preview.js
  js/mouse-parallax.js
  tests/js/hover-preview.test.js
  tests/js/mouse-parallax.test.js
Due: eslint, jest-related

style: format CSS and JavaScript for improved readability
  css/main_style.css
  js/load-animations.js
Due: eslint, stylelint, jest-related

feat: optimize magnetic navigation performance by replacing gsap.to() with gsap.quickTo() for smoother animations
  js/magnetic-nav.js
  tests/js/magnetic-nav.test.js
Due: eslint, jest-related

Revert "Enhance frontend with unified motion, typography, and clip-path masking"
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: none

style: remove italic styling from headings for consistency
  css/style.css
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

test: update console.warn mock to use window.console for better compatibility
  tests/js/ga.test.js
Due: eslint, jest-related

fix: inline critical opacity styles to prevent FOUC on load animations
  index.html
Due: none

patch_test31.sh の削除
  patch_test31.sh
Due: none

patch_test33.sh の削除
  patch_test33.sh
Due: none

patch_test32.sh の削除
  patch_test32.sh
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  pnpm-lock.yaml
Due: none

test: add tests for rapid ArrowDown bounce bug in block navigation
  js/block-navigation.js
  tests/js/block-navigation.test.js
Due: eslint, jest-related

Delete commit_message.txt
  commit_message.txt
Due: none

test: fix JSDOM global event listener leaks and document.body mock pollution in page-transition tests
  tests/js/page-transition.test.js
Due: eslint, jest-related

test: clean up comments in hover-preview and cdnFallback tests for clarity
  tests/js/hover-preview.test.js
  tests/js/loader/cdnFallback.test.js
  tests/js/loader/cdnFallbackNode.test.js
Due: eslint, jest-related

commit.sh の削除
  commit.sh
Due: none

server.log の削除
  server.log
Due: none

.gitignore: Update .claude exclusion rules to allow commands directory Add retro.md and retro.toml for structured retrospective process
  .gitignore
Due: none

feat: add retrospective commands for improved repo practices
  .claude/commands/retro.md
  .gemini/commands/retro.toml
  tests/js/ambient/config/default.test.js
  tests/js/ambient/loader.test.js
Due: eslint, jest-related

docs: add project guide and testing notes for AI agents
  CLAUDE.md
  docs/testing-notes.md
Due: none

docs: clarify guidelines on editing the .jules directory
  CLAUDE.md
Due: none

feat: add test command with coverage report to Makefile and package.json
  Makefile
  package.json
Due: none

feat: add clarification for 'make test' command in project guide
  CLAUDE.md
Due: none

chore(commands): 新しいブランチ出荷手順を追加
  .claude/commands/ship.md
  .gemini/commands/ship.toml
Due: none

chore(commands): correct branch name to master
  .claude/commands/ship.md
  .gemini/commands/ship.toml
Due: none

chore: add dependabot configuration
  .github/dependabot.yml
Due: none

chore: enable dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: add auto-fix step for dependabot PR style
  .github/workflows/dependabot-auto-merge.yml
Due: none

test: fix jsdom 26 (jest 30) location/document mocking failures
  docs/testing-notes.md
  tests/js/ambient/ambient.test.js
  tests/js/ambient/quantum_particles.test.js
  tests/js/cursor-init.test.js
  tests/js/page-transition.test.js
  tests/js/preloader.test.js
  tests/js/security.test.js
  tests/js/service-worker-register.test.js
Due: eslint, jest-related

chore: update Jest environment version and add gitignore for scratch tests
  .gitignore
  CLAUDE.md
  docs/testing-notes.md
  tests/js/ambient/quantum_particles.test.js
Due: eslint, jest-related

chore: add eval-optimization command for assessing Jules-recorded optimizations
  .claude/commands/eval-optimization.md
  .gemini/commands/eval-optimization.toml
Due: none

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

