Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

fix(layout): adjust social icon positioning and update portfolio table structure
  css/main_style.css
  index.html
Due: stylelint

fix(fonts): update font family to Syne for improved consistency across styles
  css/article.css
  css/base.css
  css/main_style.css
  css/mixins.css
  css/style.css
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

feat(dock): add universal header navigation dock for article pages
  css/article.css
  css/header.css
  css/main_style.css
  css/style.css
  index.html
  js/load-animations.js
  js/mobile-dock.js
  js/page-transition.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  sw.js
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
  tests/js/acceptance/mobile-dock-expand.acceptance.test.js
  tests/js/acceptance/mobile-overflow.acceptance.test.js
  tests/js/load-animations.test.js
Due: eslint, stylelint, jest-related

fix(animation): remove vendor-specific keyframes for bodyshow animation
  css/article.css
  css/mixins.css
Due: stylelint

fix(layout): update header font styles and improve animation handling
  css/main_style.css
  index.html
  js/load-animations.js
  tests/js/load-animations.test.js
Due: eslint, stylelint, jest-related

fix(blockquotes): improve mobile styling for blockquote elements in articles
  css/article.css
  css/style.css
Due: stylelint

fix(social-icons): update positioning and visibility for social icons across devices
  AGENTS.md
  css/main_style.css
  index.html
Due: stylelint

fix(blockquotes): enhance styling and structure for blockquote elements across articles
  css/article.css
  css/style.css
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

fix(layout): restructure social icons and update headline display
  css/main_style.css
  index.html
Due: stylelint

fix(style): update background images for #mimida to use desktop versions
  css/main_style.css
Due: stylelint

feat(banner): implement shared mobile banner across main and article pages
  assets/banners/banner.png
  css/banner.css
  css/main_style.css
  css/style.css
  index.html
  js/scroll-reveal-icon.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  tests/js/acceptance/article-banner-consistency.acceptance.test.js
  tests/js/preloader.test.js
  tests/js/scroll-reveal-icon.test.js
Due: eslint, stylelint, jest-related

fix(style): adjust right margin for social icons and update opacity behavior on scroll
  css/header.css
  css/main_style.css
  css/style.css
  js/mobile-dock.js
  tests/js/acceptance/article-footer-consistency.acceptance.test.js
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
  tests/js/acceptance/mobile-dock-expand.acceptance.test.js
Due: eslint, stylelint, jest-related

fix(navigation): ensure nested elements within blocks are not separate navigation targets
  js/block-navigation.js
  tests/js/block-navigation.test.js
Due: eslint, jest-related

fix(style): remove fixed body masks and negative margins for unobstructed footer on article pages
  css/main_style.css
  css/style.css
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, stylelint, jest-related

fix(test): update project-footer padding expectations for consistency
  tests/js/acceptance/article-footer-consistency.acceptance.test.js
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, jest-related

fix(style): remove safe-area-inset-bottom from project-footer padding for consistency
  css/style.css
  tests/js/acceptance/article-footer-consistency.acceptance.test.js
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, stylelint, jest-related

fix(style): adjust project-footer padding and reset last content element margin for consistency
  css/style.css
  tests/js/acceptance/article-footer-consistency.acceptance.test.js
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, stylelint, jest-related

feat(fonts): add Syne font files and update font-face declarations
  assets/fonts/syne-latin-ext.woff2
  assets/fonts/syne-latin.woff2
  css/main_style.css
  css/style.css
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  sw.js
Due: eslint, stylelint, jest-related

feat(hover-carousel): implement vertical thumbnail carousel for project previews
  css/main_style.css
  index.html
  js/hover-preview.js
  js/types/globals.d.ts
  tests/js/hover-preview.test.js
Due: eslint, stylelint, jest-related

feat(hover-preview): add image prefetching and smooth fade-in effect for thumbnails
  css/main_style.css
  js/hover-preview.js
  tests/js/hover-preview.test.js
Due: eslint, stylelint, jest-related

fix(social-icons): update email icon from envelope to at symbol for consistency
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, jest-related

feat(navigation): add aria-current attribute to portfolio links for improved accessibility
  css/header.css
  css/main_style.css
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

fix(styles): remove text stroke and paint order properties for body and canvas elements
  css/header.css
  css/main_style.css
Due: stylelint

chore(fonts): retire P22 Underground font and related assets
  assets/fonts/p22undergroundpro-thin-webfont.eot
  assets/fonts/p22undergroundpro-thin-webfont.svg
  assets/fonts/p22undergroundpro-thin-webfont.ttf
  assets/fonts/p22undergroundpro-thin-webfont.woff
  css/base.css
  css/fonts.css
  css/main_style.css
  css/style.css
  docs/design-action-items.md
Due: stylelint

feat(perf): add ThumbHash blur-up placeholders for gallery images
  css/style.css
  docs/design-action-items.md
  js/thumbhash-init.js
  js/vendor/thumbhash.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  package-lock.json
  package.json
  scripts/generate-thumbhashes.mjs
  tests/js/thumbhash-init.test.js
Due: eslint, stylelint, jest-related

feat(transitions): implement cross-document View Transitions with smooth animations
  css/base.css
  docs/design-action-items.md
Due: stylelint

feat(smooth-scroll): integrate Lenis for smooth scrolling experience
  css/style.css
  docs/design-action-items.md
  js/lenis-init.js
  js/vendor/lenis.min.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  package-lock.json
  package.json
  tests/js/lenis-init.test.js
Due: eslint, stylelint, jest-related

feat: add GSAP library for animations and enhance image processing scripts
  css/main_style.css
  docs/design-action-items.md
  index.html
  js/load-animations.js
  js/types/globals.d.ts
  js/vendor/SplitText.min.js
  js/vendor/gsap.min.js
  package-lock.json
  package.json
  scripts/build-images.mjs
  scripts/generate-thumbhashes.mjs
  tests/js/load-animations.test.js
Due: eslint, stylelint, jest-related

feat(styles): normalize letter-spacing and text-transform for body text
  css/header.css
Due: stylelint

feat: update status of Contact-sheet home/index rework to ditched
  docs/design-action-items.md
Due: none

feat(tests): add tests for brand title letter-spacing and text-transform consistency
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
Due: eslint, jest-related

feat(build): add scripts for responsive image and ThumbHash generation
  AGENTS.md
  Makefile
  package.json
Due: none

feat(hover-preview): integrate ThumbHash for image placeholders and enhance carousel rendering
  css/main_style.css
  index.html
  js/hover-preview.js
  js/types/globals.d.ts
  tests/js/hover-preview.test.js
Due: eslint, stylelint, jest-related

feat(thumbhash): enhance support for ThumbHash in containers and update tests
  css/main_style.css
  index.html
  js/thumbhash-init.js
  tests/js/thumbhash-init.test.js
Due: eslint, stylelint, jest-related

feat(loader): restrict quantum particle loading to home pages and update tests
  js/ambient/loader.js
  tests/js/ambient/loader.test.js
Due: eslint, jest-related

feat(index.html): remove thumbhash attribute from the mimida div
  index.html
Due: none

feat(hover-preview): keep and enhance hover preview with vertical carousel and ThumbHash placeholders
  docs/design-action-items.md
Due: none

fix(thumbhash): enhance thumbhash generation and HTML injection
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  scripts/generate-thumbhashes.mjs
  tests/js/acceptance/thumbhash-consistency.acceptance.test.js
Due: eslint, jest-related

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

