Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

Fix formatting in preloader.js with Prettier
  js/preloader.js
Due: eslint, jest-related

Update Makefile to include Prettier in precommit-fix target
  Makefile
Due: none

Formatted.
  js/font-awesome-loader.js
Due: eslint, jest-related

Add arrow-key block navigation
  js/block-navigation.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, jest-related

Modularize service worker registration
  index.html
  js/service-worker-register.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, jest-related

Enhance page transition shader
  css/main_style.css
  css/style.css
  index.html
  js/page-transition.js
  js/vendor/three.module.min.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, stylelint, jest-related

Add live scene transition captures
  index.html
  js/page-transition.js
  js/vendor/html2canvas.min.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, jest-related

Refine page transition animation
  js/page-transition.js
Due: eslint, jest-related

Refine page transition and mobile nav-back
  js/page-transition.js
Due: eslint, jest-related

Skip service worker on localhost
  js/service-worker-register.js
Due: eslint, jest-related

Unify ambient transition across pages
  index.html
  js/ambient/ambient.js
  js/ambient/config/default.js
  js/page-transition.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, jest-related

Fix ESLint issues and resolve Prettier/ESLint conflicts
  .ci-configs/js/eslint.config.cjs
  .pre-commit-config.yaml
  Makefile
  js/ambient/loader.js
Due: eslint, jest-related

Add ambient quantum particles implementation and run-npx.sh script
  js/ambient/quantum_particles.js
  scripts/run-npx.sh
Due: eslint, jest-related

Add Progressive Web App (PWA) functionality
  index.html
  manifest.json
  p1/index.html
  p2/index.html
  p3/index.html
  sw.js
Due: eslint, jest-related

Add custom cursor functionality with GSAP animation library
  css/cursor.css
  index.html
  js/cursor-init.js
  js/vendor/cursor.js
  js/vendor/gsap.min.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, stylelint, jest-related

Fix(css): restore cursor blend mode inversion
  css/cursor.css
Due: stylelint

Inline web CI workflow
  .github/workflows/ci.yml
  .github/workflows/web-ci.yml
Due: none

Ensure black overscroll background
  css/main_style.css
  css/style.css
Due: stylelint

Persist custom cursor position
  js/vendor/cursor.js
Due: eslint, jest-related

Remove centralized ci configs
  .ci-configs/js/.prettierignore
  .ci-configs/js/.prettierrc.json
  .ci-configs/js/.stylelintignore
  .ci-configs/js/.stylelintrc.cjs
  .ci-configs/js/eslint.config.cjs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prettierrc.cjs
  .stylelintrc.cjs
  Makefile
  eslint.config.cjs
  js/vendor/gsap.min.js
Due: eslint, jest-related

refactor: Update service worker with distinct cache-first and network-first strategies based on asset type and update cache version.
  sw.js
Due: eslint, jest-related

chore: ignore `js/vendor/` directory from Prettier formatting
  .prettierignore
Due: none

feat: Enhance SEO and social sharing with meta tags, canonical URLs, robots.txt, sitemap.xml, and image alt text.
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  robots.txt
  sitemap.xml
Due: none

feat: Add view-transition meta tag to HTML pages and remove `eslint-env` comment from service worker.
  index.html
  p1/index.html
  p2/index.html
  p3/index.html
  sw.js
Due: eslint, jest-related

feat: add two new street photography images to the p3 page.
  assets/img/p3/DSCF3632.JPG
  assets/img/p3/DSCF8563-5.jpg
  p3/index.html
Due: none

feat: add new street photography image to p2 page
  assets/img/p2/DSCF0883-3.jpg
  p2/index.html
Due: none

feat: add issue templates for bug reports, feature requests, and ideas
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/idea.md
  .github/labels.json
Due: none

chore: initialize project with package.json and setup scripts for linting, formatting, and testing
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  package-lock.json
  package.json
Due: none

fix: format package.json for consistency and readability
  package-lock.json
  package.json
Due: none

fix: Block `javascript:` URLs in page navigation to prevent DOM XSS and add corresponding security tests.
  .pre-commit-config.yaml
  eslint.config.cjs
  js/page-transition.js
  tests/js/security.test.js
Due: eslint, jest-related

Merge master into perf/optimize-block-navigation-14724323103885227528 and resolve conflicts
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  eslint.config.cjs
  js/font-awesome-loader.js
  js/page-transition.js
  package-lock.json
  package.json
  tests/js/cdn-fallback.test.js
  tests/js/font-awesome-loader.test.js
  tests/js/loader/cdnFallback.test.js
  tests/js/page-transition.test.js
  tests/js/quantum-particles.test.js
  tests/js/security.test.js
  tests/js/sw.test.js
Due: eslint, jest-related

Fix Prettier formatting in page-transition.test.js
  tests/js/page-transition.test.js
Due: eslint, jest-related

build: Disable colored output for the pre-commit run command.
  Makefile
Due: none

refactor(tests): consolidate redundant test files and fix cdnFallback bug
  js/loader/cdnFallback.js
  tests/js/ambient/quantum_particles.test.js
  tests/js/cdn-fallback.test.js
  tests/js/cdnFallback.test.js
  tests/js/loader/cdnFallback.test.js
  tests/js/quantum-particles.test.js
Due: eslint, jest-related

feat: add mobile banner identical to fund
  assets/banners/banner.png
  css/main_style.css
  index.html
  js/loader/imageFallback.js
Due: eslint, stylelint, jest-related

feat: add mobile banner and scroll-reveal instagram icon for project pages
  css/style.css
  js/scroll-reveal-icon.js
  p1/index.html
  p2/index.html
  p3/index.html
Due: eslint, stylelint, jest-related

style: refine project footer and instagram icon positioning
  css/style.css
  p1/index.html
  p2/index.html
  p3/index.html
Due: stylelint

chore: explicitly enable renovate onboarding
  .github/renovate.json
Due: none

ci: opt into Node.js 24
  .github/workflows/ci.yml
Due: none

style: fix formatting in scroll-reveal-icon.js
  js/scroll-reveal-icon.js
Due: eslint, jest-related

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

