Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

.pre-commit-config.yaml:

exclude: |
  ^fund/|
  ^assets/vendor/|
  ^node_modules/|
  ^venv/|
  ^.mypy_cache/|
  ^.ruff_cache/|
  ^coverage/|
  ^dist/|
  ^build/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        # Do not touch generated data CSVs
        exclude: ^data/.*\.csv$
      - id: trailing-whitespace
        # Do not touch generated data CSVs
        exclude: ^data/.*\.csv$
      - id: mixed-line-ending
        # Do not touch generated data CSVs
        exclude: ^data/.*\.csv$
      - id: detect-private-key

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.json"]

  # JavaScript tooling (commit): format + lint
  - repo: local
    hooks:
      - id: prettier
        name: prettier (staged files)
        entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
        language: system
        files: '\\.(js|css|json|yml|yaml|md|html)$'
        pass_filenames: true

  - repo: local
    hooks:
      - id: eslint
        name: eslint (staged JS)
        entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
        language: system
        types_or: [javascript]
        pass_filenames: true

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (staged CSS)
        entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
        language: system
        types_or: [css]
        pass_filenames: true

  # JS tests (commit): related tests only
  - repo: local
    hooks:
      - id: jest-related
        name: jest (related tests)
        entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
        language: system
        types_or: [javascript]
        pass_filenames: true

  # Full test suites (push): JS + Python
  - repo: local
    hooks:
      - id: jest-full
        name: jest (full, pre-push)
        entry: bash -lc 'npx jest --ci --runInBand'
        language: system
        pass_filenames: false
        stages: [pre-push]

  - repo: local
    hooks:
      - id: pytest-full
        name: pytest (full, pre-push)
        entry: bash -lc 'pytest -q'
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Optional: mypy type check on commit (adjust paths as needed)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: '^scripts/|^tests/python/'

fix: resolve performScroll ReferenceError in tests
  js/block-navigation.js
  tests/js/block-navigation.test.js
Due: eslint, jest-related

fix: resolve CSS syntax errors and compatibility warnings
  css/style.css
Due: stylelint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude PR Review workflow
  .github/workflows/claude-pr-review.yml
Due: none

Add id-token permission for claude-pr-review workflow
  .github/workflows/claude-pr-review.yml
Due: none

Fix trailing newlines in workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Fix Prettier formatting in workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: update GitHub Actions to Node.js 24 compatible versions
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/claude.yml
Due: none

feat: add new images and reformat HTML structure for project page
  assets/img/p3/DSCF1113.jpg
  assets/img/p3/IMG_4582.jpg
  p3/index.html
Due: none

chore: configure pre-commit stages and reformat index.html with indentation updates
  .pre-commit-config.yaml
  p3/index.html
Due: none

fix(css): elevate footer z-index and disable pointer events on mobile banner
  css/main_style.css
Due: stylelint

feat: add new photography project p4 and update homepage navigation
  assets/img/p4/18F4C334-BD6B-4C91-8CD8-8615AD7ADF67.jpg
  assets/img/p4/940E2644-C690-41F0-9898-0EFB79C69DC5.jpg
  assets/img/p4/DSCF0310-3.jpg
  assets/img/p4/DSCF0896-2.jpg
  assets/img/p4/DSCF1207-5.jpg
  assets/img/p4/DSCF1897-2.jpg
  assets/img/p4/DSCF3446-2.jpg
  assets/img/p4/DSCF4090.jpg
  assets/img/p4/DSCF4110-2.jpg
  assets/img/p4/DSCF4250-3.jpg
  assets/img/p4/DSCF5453-2.jpg
  assets/img/p4/DSCF6250-6.jpg
  assets/img/p4/DSCF6872-5.jpg
  assets/img/p4/DSCF7212-2.jpg
  assets/img/p4/DSCF7352.jpg
  assets/img/p4/DSCF8552-6.jpg
  assets/img/p4/DSCF8631.jpg
  assets/img/p4/DSCF9185.jpg
  assets/img/p4/DSCF9642-2.jpg
  assets/img/p4/R0001059-4.jpg
  index.html
  p4/index.html
Due: none

docs: update homepage content and layout in index.html
  index.html
Due: none

fix: add trailing newline to index.html
  index.html
Due: none

fix: remove extra trailing blank line in index.html
  index.html
Due: none

style: apply Prettier formatting to index.html and p4/index.html
  index.html
  p4/index.html
Due: none

refactor: clean up HTML indentation and remove redundant whitespace in index.html
  p4/index.html
Due: none

ci: pin Prettier version in CI and ignore vendor JS files
  .github/workflows/ci.yml
  .prettierignore
  p4/index.html
Due: none

ci: upgrade Prettier to 3.8.1 and re-include js/ga.js
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prettierignore
Due: none

fix(css): add missing .quote-attribution rule to style.css
  css/style.css
Due: stylelint

Fix page transition blocked by CSP and multiple animation bugs
  css/main_style.css
  css/style.css
  js/page-transition.js
  tests/js/security.test.js
Due: eslint, stylelint, jest-related

Fix Prettier formatting in security.test.js
  tests/js/security.test.js
Due: eslint, jest-related

Skip intro animation on project pages and fix playIntro progress
  js/page-transition.js
  tests/js/page-transition.test.js
Due: eslint, jest-related

Fix page transition layout distortion on #cont during navigation
  css/main_style.css
  css/style.css
  js/page-transition.js
  tests/js/page-transition.test.js
  tests/js/security.test.js
Due: eslint, stylelint, jest-related

refactor: remove html2canvas dependency and update page transition security tests to validate URLs directly
  css/main_style.css
  css/style.css
  index.html
  js/page-transition.js
  js/vendor/html2canvas.min.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  tests/js/page-transition.test.js
  tests/js/security.test.js
Due: eslint, stylelint, jest-related

feat: store click coordinates in sessionStorage to persist custom cursor position across page transitions
  js/page-transition.js
  tests/js/page-transition.test.js
Due: eslint, jest-related

style: reformat CSS and JS code for consistency and fix regex escape in pre-commit config
  .pre-commit-config.yaml
  css/main_style.css
  css/style.css
  js/page-transition.js
  tests/js/security.test.js
Due: eslint, stylelint, jest-related

refactor: migrate test suite from vm-based execution to native Jest imports and add CommonJS support to loaders
  .pre-commit-config.yaml
  Makefile
  jest.config.cjs
  js/ambient/ambient.js
  js/ambient/config/default.js
  js/ambient/loader.js
  js/ambient/quantum_particles.js
  js/block-navigation.js
  js/cursor-init.js
  js/font-awesome-loader.js
  js/loader/cdnFallback.js
  js/loader/imageFallback.js
  js/loader/vendorLoader.js
  js/preloader.js
  package-lock.json
  package.json
  sw.js
  tests/js/ambient/ambient.test.js
  tests/js/ambient/config/default.test.js
  tests/js/ambient/loader.test.js
  tests/js/ambient/quantum_particles.test.js
  tests/js/block-navigation.test.js
  tests/js/cursor-init.test.js
  tests/js/font-awesome-loader.test.js
  tests/js/ga.test.js
  tests/js/loader/cdnFallback.test.js
  tests/js/loader/imageFallback.test.js
  tests/js/loader/vendorLoader.test.js
  tests/js/page-transition.test.js
  tests/js/preloader.test.js
  tests/js/scroll-reveal-icon.test.js
  tests/js/security.test.js
  tests/js/service-worker-register.test.js
  tests/js/sw.test.js
Due: eslint, jest-related

refactor: simplify cursor-init.js with ES module import and GSAP check
  js/cursor-init.js
Due: eslint, jest-related

test: update cursor-init tests to use VM-based execution for ES module compatibility
  tests/js/cursor-init.test.js
Due: eslint, jest-related

style: fix trailing whitespace in scroll-reveal.js
  css/style.css
  eslint.config.cjs
  js/scroll-reveal.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: eslint, stylelint, jest-related

style: fix trailing whitespace and formatting in scroll-reveal files
  js/scroll-reveal.js
  tests/js/scroll-reveal.test.js
Due: eslint, jest-related

fix: stage auto-fixed files in make precommit-fix
  Makefile
Due: none

feat: implement magnetic hover effect for social icons
  css/main_style.css
  js/cursor-init.js
  js/magnetic-nav.js
  tests/js/cursor-init.test.js
  tests/js/magnetic-nav.test.js
Due: eslint, stylelint, jest-related

style: unify nav buttons design, fix dark mode hover colors & stabilize transitions
  css/base.css
  css/cursor.css
  css/darkmode.css
  css/main_style.css
  css/style.css
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
Due: stylelint

style: increase top offset for navigation buttons in base.css
  css/base.css
Due: stylelint
