Repository ryusoh/ryusoh.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint, jest-related

prettier:
  name: prettier (staged files)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Prettier"; exit 0; fi; npx prettier --write --ignore-path .ci-configs/js/.prettierignore --'
  language: system
  pass_filenames: true

eslint:
  name: eslint (staged JS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping ESLint"; exit 0; fi; npx eslint --config .ci-configs/js/eslint.config.cjs --max-warnings=0 --'
  language: system
  pass_filenames: true

stylelint:
  name: stylelint (staged CSS)
  entry: bash -lc 'if ! command -v npx >/dev/null 2>&1; then echo "npx missing; skipping Stylelint"; exit 0; fi; npx -y -p @stylistic/stylelint-plugin stylelint --formatter=unix --config-basedir "$(pwd)" --'
  language: system
  pass_filenames: true

jest-related:
  name: jest (related tests)
  entry: bash -lc 'if ! ls jest.config.* package.json >/dev/null 2>&1; then echo "No Jest config found, skipping"; exit 0; fi; if [ $# -gt 0 ]; then npx jest --findRelatedTests --passWithNoTests "$@"; else npx jest --passWithNoTests; fi'
  language: system
  pass_filenames: true

feat(docs): add testing notes for ESM scripts in CommonJS Jest suites
  docs/testing-notes.md
Due: none

feat(skills): add action-items and implement-action-items skills
  .agents/skills/action-items/SKILL.md
  .agents/skills/implement-action-items/SKILL.md
  .claude/commands/action-items.md
  .claude/commands/implement-action-items.md
Due: none

docs(skills): add unattended-runs note to implement-action-items
  .agents/skills/implement-action-items/SKILL.md
  .claude/commands/implement-action-items.md
Due: none

feat(tools): add prior_prs with --stats lane accept-rate report
  tools/__tests__/test_prior_prs.py
  tools/prior_prs.py
Due: none

docs(agents): forbid empty routine PRs, add typist early exit
  .jules/typist.md
  AGENTS.md
Due: none

docs(skills): update sibling-repo-sync profiles with sync learnings
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
Due: none

feat(bot): enforce PR hygiene for bot-authored commits with automated checks
  .github/workflows/ci.yml
  .jules/testpilot.md
  AGENTS.md
  Makefile
  tools/__tests__/test_check_bot_pr_hygiene.py
  tools/check_bot_pr_hygiene.py
Due: none

docs(gates): document gate internals and enforcement mechanisms
  AGENTS.md
  docs/gates.md
Due: none

docs(skills): add resume protocol for action items and TDD workflows
  .agents/skills/implement-action-items/SKILL.md
  .agents/skills/tdd/SKILL.md
  .claude/commands/implement-action-items.md
  .claude/commands/tdd.md
  AGENTS.md
Due: none

docs(agents): enhance externalized state and transaction boundaries guidance
  AGENTS.md
Due: none

feat(task-harness): implement state ledger for multi-step agent workflows
  .agents/skills/implement-action-items/SKILL.md
  .claude/commands/implement-action-items.md
  .gitignore
  AGENTS.md
  tools/__tests__/test_task_harness.py
  tools/task_harness.py
Due: none

feat(task-harness): add state reconciliation and scoped toolset derivation
  AGENTS.md
  tools/__tests__/test_task_harness.py
  tools/task_harness.py
Due: none

feat(styles): update font families to include Glow Sans SC variants and enhance typography
  css/article.css
  css/base.css
  css/header.css
  css/main_style.css
  css/style.css
Due: stylelint

feat: implement CJK character extraction and automatic WOFF2 font subset generation pipeline
  AGENTS.md
  Makefile
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  css/main_style.css
  css/style.css
  sw.js
  tests/js/doc-tool-references.test.js
  tools/subset_fonts.py
Due: eslint, stylelint, jest-related

feat(sequence): implement cold-start fallback for gallery inspection and enhance documentation
  .agents/skills/sequence/SKILL.md
  .agents/skills/sequence/scripts/inspect_gallery.mjs
  .agents/skills/sequence/scripts/parser.mjs
  .agents/skills/sequence/scripts/report.mjs
  .claude/commands/sequence.md
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

fix(sequence): update fallback logic for gallery inspection and improve text handling
  .agents/skills/sequence/SKILL.md
  .claude/commands/sequence.md
  .markdownlint.json
  scripts/build-page.mjs
Due: eslint, jest-related

feat(images): update image assets for improved quality and performance
  assets/img/p4/DSCF4090-1200.avif
  assets/img/p4/DSCF4090-1200.webp
  assets/img/p4/DSCF4090-768.avif
  assets/img/p4/DSCF4090-768.webp
  assets/img/p4/DSCF4090.avif
  assets/img/p4/DSCF4090.webp
  assets/img/p4/DSCF4110-2-1200.avif
  assets/img/p4/DSCF4110-2-1200.webp
  assets/img/p4/DSCF4110-2-768.avif
  assets/img/p4/DSCF4110-2-768.webp
  assets/img/p4/DSCF4110-2.avif
  assets/img/p4/DSCF4110-2.webp
Due: none

fix(header): keep expanded mobile dropdown within viewport
  css/header.css
  css/main_style.css
  tests/js/acceptance/mobile-dock-expand.acceptance.test.js
Due: eslint, stylelint, jest-related

feat(fonts): add automatic CJK font subset extraction and testing
  scripts/build-page.mjs
  tests/js/font-subset.test.js
Due: eslint, jest-related

test(fonts): add pytest coverage for subset_fonts pipeline
  tools/__tests__/test_subset_fonts.py
Due: none

feat(portfolio): add p6 Hyperstars gallery, trail p5 in nav
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  index.html
  js/preloader.js
  p1/index.html
  p2/index.html
  p3/index.html
  p4/index.html
  p5/index.html
  p6/README.md
  p6/index.html
  scripts/build-page.mjs
  scripts/sync-pages.mjs
  sitemap.xml
  tests/js/acceptance/header-dock-consistency.acceptance.test.js
  tests/js/page-builder.test.js
  tests/js/preloader.test.js
Due: eslint, jest-related

fix(p6): correct text formatting and phrasing in index files
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  assets/img/p6/index.md
  p6/index.html
Due: none

test(hover-preview): add warning for fetch failure in fetchProjectImages
  tests/js/hover-preview.test.js
Due: eslint, jest-related

fix(p6): correct text formatting in index files
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  assets/img/p6/index.md
  p6/index.html
Due: none

fix(sequence): thin dense transition-chart labels deterministically
  .agents/skills/sequence/SKILL.md
  .agents/skills/sequence/scripts/charts.mjs
  .claude/commands/sequence.md
  assets/img/p6/sequence-report.md
  assets/img/p6/sequence-transitions.svg
  p6/README.md
  tests/js/sequence-skill.test.js
Due: eslint, jest-related

feat(ci): enforce complexity ratchet and stray artifact checks in bot PR hygiene gate
  .gitignore
  .jules/bolt.md
  AGENTS.md
  Makefile
  docs/gates.md
  tools/__tests__/test_check_bot_pr_hygiene.py
  tools/check_bot_pr_hygiene.py
Due: none

chore(gate): enforce append-only tests in bot context and update sentinel guidance
  .jules/sentinel.md
  AGENTS.md
  tools/__tests__/test_check_bot_pr_hygiene.py
  tools/check_bot_pr_hygiene.py
Due: none

fix(p2, p6): update text formatting in index files for clarity
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  assets/img/p2/index.md
  assets/img/p6/index.md
  p2/index.html
  p6/index.html
Due: none

fix(p6): reorder image content sections for narrative flow
  assets/img/p6/index.md
  js/preloader.js
  p6/index.html
Due: eslint, jest-related

refactor: update narrative transitions and sequence data in commentary and SVG assets
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  assets/img/p2/sequence-report.md
  assets/img/p2/sequence-transitions.svg
  assets/img/p6/commentary.json
  assets/img/p6/sequence-colorimetry.svg
  assets/img/p6/sequence-report.md
  assets/img/p6/sequence-transitions.svg
  assets/img/p6/sequence-waveform.svg
  p2/README.md
  p6/README.md
Due: none

fix: clarify guidelines for concurrent agents and file handling
  AGENTS.md
Due: none

refactor(animations): extract helpers to cut DOMContentLoaded complexity
  js/load-animations.js
Due: eslint, jest-related

feat(bot-pr-rescue): add skill and command for diagnosing and salvaging failing bot PRs
  .agents/skills/bot-pr-rescue/SKILL.md
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/bot-pr-rescue.md
  .claude/commands/sibling-repo-sync.md
  .jules/architect.md
  .jules/bolt.md
  .jules/janitor.md
  .jules/palette.md
  .jules/sentinel.md
  .jules/testpilot.md
  .jules/typist.md
  AGENTS.md
  Makefile
  docs/gates.md
  tools/__tests__/test_check_bot_pr_hygiene.py
  tools/check_bot_pr_hygiene.py
Due: none

fix: update bot PR hygiene guidelines to include new output file types
  .agents/skills/bot-pr-rescue/SKILL.md
  .claude/commands/bot-pr-rescue.md
  .jules/architect.md
  AGENTS.md
  tools/__tests__/test_check_bot_pr_hygiene.py
  tools/check_bot_pr_hygiene.py
Due: none

fix: update sibling-repo-sync documentation to clarify PR-title gate and commit title guidelines
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
Due: none

fix: clarify PR-title gate documentation for sibling repos
  .agents/skills/sibling-repo-sync/SKILL.md
  .claude/commands/sibling-repo-sync.md
Due: none

fix: update text in index files for clarity and consistency
  assets/fonts/glowsans-sc-extended-bold.subset.woff2
  assets/img/p6/index.md
  p6/index.html
Due: none

fix: update reference in text for accuracy
  assets/img/p6/index.md
  p6/index.html
Due: none

Path conditions:
  prettier: any of: \\.(js|css|json|yml|yaml|md|html)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  eslint: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  stylelint: any of: \.css$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

  jest-related: any of: \.(js|mjs|cjs)$, but not: ^fund/|
^assets/vendor/|
^node_modules/|
^venv/|
^.mypy_cache/|
^.ruff_cache/|
^coverage/|
^dist/|
^build/

